:root {
    /* Minhas cores */
    --cor-fundo: #E8D5B7;
    --cor-superficie: #FFFFFF;
    --cor-texto: #2A1E14;
    --cor-texto-suave: #5C4A38;
    --cor-marca: #8B3A2A;
    --cor-sobre-marca: #FFFFFF;
    --cor-borda: #B8A88F;
}

:root {
    /* Fontes e tamanhos */
    --fonte-texto: system-ui, sans-serif;
    --fonte-titulo: "Cactus Classical Serif", serif;
    --tamanho-h1: 2rem;
    --tamanho-h2: 1.75rem;
    --tamanho-h3: 1.5rem;
    --tamanho-texto: 1rem;
}

:root {
    /* Espacamentos, raio e sombra */
    /* Foram usados acréscimos de 0.5rem a cada nível */
    --espaco-1: 0.5rem;
    --espaco-2: 1rem;
    --espaco-3: 1.5rem;
    --espaco-4: 2rem;
    --raio: 15px;
    --sombra: 0px 2px 4px rgb(0, 0, 0, 20%);
}