:root {
    /* Minhas cores */
    --cor-fundo: #DCE8F0;
    --cor-superficie: #FFFFFF;
    --cor-texto: #2A2118; /* 11,3:1 sobre --cor-fundo: AAA; 14,0:1 sobre --cor-superficie: AAA */
    --cor-texto-suave: #5A4A3A; /* 6,16:1 sobre --cor-fundo: AA */
    --cor-marca: #8B3A2A; /* 6,25:1 sobre --cor-fundo: AA */
    --cor-sobre-marca: #FFFFFF; /* 7,72:1 sobre --cor-marca: AAA */
    --cor-borda: #C4B8A8;
}

:root {
    /* Fontes e tamanhos */
    --fonte-texto: system-ui, sans-serif;
    --fonte-titulo: "Cactus Classical Serif", serif;
    --tamanho-h1: 2rem;
    --tamanho-h2: 1.75rem;
    --tamanho-h3: 1.5rem;
    --tamanho-texto: 1rem;
}

:root {
    /* Espacamentos, raio e sombra */
    /* Foram usados acréscimos de 0.5rem a cada nível */
    --espaco-1: 0.5rem;
    --espaco-2: 1rem;
    --espaco-3: 1.5rem;
    --espaco-4: 2rem;
    --raio: 6px;
    --sombra: 0px 2px 4px rgb(0, 0, 0, 20%);
}